VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_PROJECTS_COLLECTION_ID=projects
VITE_APPWRITE_PROJECT_UPDATES_COLLECTION_ID=project_updates
VITE_APPWRITE_PROJECT_NOTES_COLLECTION_ID=project_notes
VITE_APPWRITE_TRANSACTIONS_COLLECTION_ID=transactions
VITE_APPWRITE_MEETINGS_COLLECTION_ID=meetings
VITE_APPWRITE_ACTIVITY_LOGS_COLLECTION_ID=activity_logs
VITE_APPWRITE_PROFILES_COLLECTION_ID=profiles
